---
import Header from '../../components/Header.astro'
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Content from '../../layouts/Content.astro'
import Article from '../../components/Article.astro'
import Prose from '../../components/Prose.astro'
import Heading from '../../components/Heading.astro'
import Text from '../../components/Text.astro'
import CodeBlock from '../../components/CodeBlock.astro'
import {
  Paso1,
  Paso2,
  Paso3,
  Paso4,
  Paso5,
  Paso6,
  Paso7,
} from '../../data/cliente-stellar'
import Link from '../../components/Link.astro'
import Warning from '../../components/Warning.astro'
---

<Layout title="Stellar en Español - Cliente Stellar">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="☄️ Cliente Stellar"
        />
        <Prose>
          <Text>
            El cliente de Stellar es super importante en la escritura de
            contratos en Stellar, ya que se encarga de la creación de la
            estructura básica y archivos, su compilación, despliegue y pruebas
            respectivas.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Instalación" />
          <Heading level={4} text="MAC " />
          <Text> Se ejecuta el siguiente comando en la terminal </Text>
          <CodeBlock lang="css" code={Paso1} />

          <Heading level={2} text="Linux" />

          <Text>
            Vamos a la pagina de <Link
              href="https://github.com/stellar/stellar-cli/releases"
              >releases</Link
            >
          </Text>
          <Warning
            type="warning"
            title="busca el binario corresponidente a la  arquitectura de tu ordenador [arch64 o x86_64]"
          />

          <CodeBlock lang="css" code={Paso2} />
          <Text>Descomprime el archivo</Text>
          <CodeBlock lang="css" code={Paso3} />
        </Prose>
        <Prose>
          <Text
            >Crea un alias con el binario para que se ejecute en terminal con el
            comando stellar
          </Text>
          <CodeBlock lang="css" code={Paso4} />
          <Text>Comprueba que se instaló correctamente</Text>
          <CodeBlock lang="css" code={Paso5} />
        </Prose>
        <Prose>
          <Heading level={3} text="Windows" />

          <CodeBlock lang="css" code={Paso6} />
          <Text
            >Para los diferentes sistemas operativos también se puede ir al
            <Link href="https://github.com/stellar/stellar-cli/releases/">
              repositirio de github
            </Link> y bajar de allí los últimos ejecutables</Text
          >
          <Text
            >Una vez instalado en la terminal ejecutamos el comando <code
              >stellar</code
            > ( en la terminal).</Text
          >
        </Prose>

        <CodeBlock lang="css" code={Paso7} />

        <img
          src="https://soroban-en-espanol.gitbook.io/~gitbook/image?url=https%3A%2F%2F4030095675-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FtbyfkjBGlvJb3cEGvvm8%252Fuploads%252FPmKyXOU2utpYauP8mivD%252Fimage.png%3Falt%3Dmedia%26token%3Df6ede047-9310-48f2-befc-ae501100d425&width=768&dpr=4&quality=100&sign=388ac390&sv=2"
          alt="Stellar"
        />
      </Article>

      <Prose />
    </section>
  </Content>
</Layout>
